<!--<script type='text/javascript'>
    angular.module('typeahead').controller('TypeaheadController', ['$scope', '$http', function ($scope, $http) {
        $scope.getItem = {
            readOnly: true
        };
        $scope.init = function(category, name) {
          console.log('init is called', category);
            $scope.getItem.category = category;
          $scope.getItem.name = name;
        };
        $scope.items = [];
        $scope.fetchResult = function () {
            $http.post('http://www.networknt.com/api/rs', $scope.getItem)
                    .success(function (result, status, headers, config) {
                        $scope.items = result;
                        console.log('items', $scope.items);
                    })
        };
        $scope.fetchResult();
    }]);
</script>-->
<div class="form-group {{form.htmlClass}}" ng-class="{'has-error': hasError()}">
    <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
    
    <div ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
        <span ng-if="form.fieldAddonLeft"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonLeft"></span>
        <input ng-show="form.key"
               type="text"
               class="form-control {{form.fieldHtmlClass}}"
               schema-validate="form"
               ng-model="$$value$$"
               typeahead-template-url="{{form.typeaheadTemplate}}"
               typeahead="{{form.typeahead}}"
               typeahead-on-select="{{form.typeaheadOnSelect}}"
               name="{{form.key.slice(-1)[0]}}"
               autocomplete="off" />
        <span ng-if="form.fieldAddonRight"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonRight"></span>
    </div>
    <span class="help-block" sf-message="form.description"></span>
</div>